.post-form-field {
  padding: 20px;
  border-radius: 20px;
  background-image: url(/src/images/globe-1849404_1920.png);
  background-position: center;
  color: #fff;
}

.post-fieldset {
  display: flex;
  flex-direction: column;
  width: 75vw;
  border: none;
}

.post-fieldset legend {
  font-weight: 800;
  font-size: 18px;
}

.post-fieldset label {
  padding: 10px;
}

.post-fieldset input {
  padding: 10px;
}

.post-fieldset input[type='text'], select:focus, button, textarea[type='text'] {
  font-size: 16px;
}

.post-fieldset select {
  display: block;
  font-size: 16px;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  border: 1px solid #bbb;
}

.post-fieldset textarea {
  max-width: 100%;
  height: 150px;
}

.submit-btn {
  width: max-content;
  margin-top: 10px;
}

/* Responsive - Desktop */

@media all and (min-width: 700px) {
  .post-fieldset {
    padding: 20px;
    width: 50vw;
  }
}