.post-fieldset {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.post-fieldset label {
  padding: 10px 0;;
}

.post-fieldset input {
  padding: 10px;
}

.post-fieldset input[type='text'], select:focus, button, textarea[type='text'] {
  font-size: 16px;
}

.post-fieldset select {
  display: block;
  font-size: 16px;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  border: 1px solid #bbb;
}

.post-fieldset textarea {
  max-width: 75vw;
}

.submit-btn {
  width: max-content;
  margin-top: 10px;
}

