.landing-header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -75px;
}

.landing-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 100vh;
}

.landing-header-content h2 {
  text-align: center;
}

.landing-header-content a {
  margin-right: 35px;
}

.down-icon {
  font-size: 35px;
  position: absolute;
  bottom: 0;
}