.landing-header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -75px;
  background-image: url(/src/images/world-140304.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.landing-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 100vh;
}

.landing-header-content h2, .landing-header-content h1 {
  color: #fff;
  text-align: center;
}

.landing-header-content h1 {
  font-size: 52px;
}

.landing-header-content a {
  color: #fcdfbc;
  margin-right: 35px;
  text-decoration: none;
  font-size: 18px;
}

.landing-header-content a:visited {
  color: #faad41;
}

.landing-header-content a:hover, .landing-header-content a:focus {
  color: #D9B991;
}

.landing-header-content a:active {
  color: #b6c7ff;
}

.down-icon {
  font-size: 35px;
  position: absolute;
  bottom: 0;
}

@media all and (min-width: 650px) {
  .landing-header {
    background-attachment: fixed;
  }
}