.landing-header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -75px;
  background-image: url(/src/images/world-140304.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.landing-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 100vh;
}

.landing-header-content h2, h1 {
  font-family: 'Syne Mono';
  color: #fff;
}

.landing-header-content a {
  color: #fff;
  margin-right: 35px;
}

.down-icon {
  font-size: 35px;
  position: absolute;
  bottom: 0;
}