.post-card-grid {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: repeat(3, auto);
  grid-gap: 10px;

}

.post-card {
  padding: 15px 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: #C0CDF5;
}

.post-card h3 {
  font-size: 24px;
  display: inline;
}

.post-card .post-location {
  display: inline;
  padding: 0 10px;
}

.post-card p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.date-posted, .post-location {
  font-style: italic;
  color: #272727;
}

.post-category {
  font-weight: 600;
  text-transform:capitalize;
}

.post-content {
  line-height: 1.5;
}

/* Responsive Styling - Larger Screen */

@media all and (min-width: 600px) {
  .post-card-grid {
    grid-template-columns: repeat(2, 50%);
    perspective: 600;
    position: relative;
  }
}

@media all and (min-width: 850px) {
  .post-card-grid {
    grid-template-columns: repeat(3, 33%);
    perspective: 600;
    position: relative;
  }

  .post-card {
    transition-property: background, border-radius;
    transition-duration: .3s, 2s;
    transition-timing-function: linear, ease-in-out;
    transition-delay: 0s, 2s;
  }

  .post-card:hover {
    background: #9CB0EF;
    transform: scale(1.03);
  }
}