.enter-button {
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
}

.enter-button a {
  margin: 0 auto;
  padding: 0 10px;
}

.enter-button a:nth-child(odd) {
  padding-right: 20px;
}
