@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400&family=Syne+Mono&display=swap');

h1, h2, h3 {
  font-family: 'Syne Mono', monospace;
}

p, a, blockquote, .moment-time, form {
  font-family: 'Montserrat', sans-serif;
}

.landing-header-content h1 {
  font-size: 52px;
}

main {
  margin-top: 90px;
}

button {
  display: inline-block;
  border: none;
  padding: 10px 15px;
  margin: 0;
  background: #f6c836;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover, button:focus {
    background: #FADD82;
}

button:active {
  transform: scale(0.98);
}

