.landing-footer {
  background-color: #000;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.landing-footer p, .landing-footer ul {
  color: #fff;
  margin: 0;
}

.landing-footer ul li {
  list-style-type: none;
}

.landing-footer ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.landing-footer ul li a:hover, .landing-footer ul li a:active {
  color: #D9B991;
}

.landing-footer ul li a:active {
  color: #b6c7ff;
}