.landing-footer {
  background-color: #2e2e2e;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
}

.landing-footer p, .landing-footer ul {
  color: #fff;
  margin: 0;
}

.landing-footer ul li {
  list-style-type: none;
}

.landing-footer ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}